/* CUSTOM COLOURS 'MONOKAI'
    rgb(46, 46, 46);    BACKGROUND
    rgb(214, 214, 214); BODY TEXT
    rgb(249, 38, 114);  MAIN HEADINGS
    rgb(102, 217, 239); BUTTONS
    rgb(253, 151, 31);  PROJECT TITLE
    rgb(230, 219, 116); COLLAPSED NAVBAR
    rgb(166, 226, 46);  SUBHEADINGS
    rgb(174, 129, 255); ??
*/

html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

body {
    font-size: 16px;
    color: rgb(214, 214, 214) !important;
    background-color: rgb(46, 46, 46) !important;
}

.navbar
{
    background-color: transparent;
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: .1rem;
}

.nav-link {
    color: white !important;
}

.navbar-nav > li
{
    margin-left: 30px;
    margin-right: 30px;
}

.fas {
    font-size: 1.6rem !important;
}

.fas:hover {
    color: rgb(102, 217, 239);
    text-shadow: 0px 0px 6px black;
}

.fab {
    font-size: 4rem !important;
    margin: 2rem;
    color: rgb(102, 217, 239);
}

.fab:hover {
    text-shadow: 0px 0px 6px black;
}

.jumbotron {
    background: linear-gradient( rgba(40, 40, 35, 0.6), rgba(0, 0, 0, 0.6) ), url('../assets/hero.png');
    height: 50rem;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.container img {
    width: 4rem;
    height: 4rem;
    /* filter: invert(); */
    margin-left: 6rem;
    margin-right: 6rem;
}

.vertical-center {
    min-height: 100%;
    display: flex;
    align-items: center;
}

#about-me {
    height: 100%;
    align-content: center;
}

#my-portfolio {
    height: 100%;
    align-content: center;
}

#contact-me {
    height: 100%;
    align-content: center;
}

.hero-text {
    font-size: 8rem;
    letter-spacing: .4rem;
    font-family: 'Nunito', serif;
    font-weight: 600;
    color: white;
}

.hero-sub-text {
    font-size: 4rem;
    letter-spacing: .2rem;
    font-weight: 300;
    font-family: 'Nunito', serif;
    color: white;
}

.container {
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.rounded-circle
{
    margin: auto;
    height: auto;
    width: auto;
    border: 10px solid transparent;
}

.about-title {
    font-size: 6rem;
    font-family: 'Nunito', serif;
    font-weight: 800;
    letter-spacing: .4rem;
    color: rgb(249, 38, 114);
}

.about-text {
    font-size: 1.4rem;
    font-family: 'Nunito', serif;
    font-weight: 200;
}

.portfolio-title {
    font-size: 6rem;
    font-family: 'Nunito', serif;
    font-weight: 800;
    letter-spacing: .4rem;
    color: rgb(249, 38, 114);
}

.portfolio-text {
    font-size: 1.4rem;
    font-family: 'Nunito', serif;
    font-weight: 200;
}

#app-store-badge {
    height: 4rem;
}

.project-title {
    font-size: 4rem;
    font-family: 'Nunito', serif;
    font-weight: 600;
    letter-spacing: .4rem;
    color: rgb(253, 151, 31);
}

.subtitles {
    font-size: 2rem;
    font-family: 'Nunito', serif;
    font-weight: 400;
    color: rgb(166, 226, 46);;
}

.contact-title {
    font-size: 4rem;
    font-family: 'Nunito', serif;
    font-weight: 600;
    letter-spacing: .4rem;
    color: rgb(249, 38, 114);
}

.footer-text {
    font-size: 1rem;
    font-family: 'Nunito', serif;
    font-weight: 100;
}

.carousel {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.col-lg-8 #wally-sc, #uni-proj-sc {
    height: 50%;
    width: 75%;
}

/* Umbriel.html */

.biometric-disclaimer {
    font-size: .8rem;
    color: black;
}

.fa-info-circle:hover {
color: rgb(255, 101, 101);
}

.fa-question-circle:hover {
    color: rgb(255, 190, 101);
}

.fa-user-secret:hover {
    color: rgb(117, 211, 99);
}

.umbriel-title {
    font-size: 4rem;
    font-family: 'Nunito', serif;
    font-weight: 800;
    letter-spacing: .4rem;
    color: black;
}

.umbriel-subtitle {
    font-size: 2rem;
    font-family: 'Nunito', serif;
    font-weight: 200;
    color: black;
}

#umbriel-info {
    font-size: 1.6rem;
    font-family: 'Nunito', serif;
    font-weight: 300;
    color: black;
}

/* Media queries */

/* Mobile */
@media screen and (max-width: 768px) {

    .jumbotron {
        background: linear-gradient( rgba(46, 46, 46, 0.6), rgba(0, 0, 0, 0.6) ), url('../assets/hero.png');
        height: 100% !important;
        width: 100%;
        background-size: cover !important;
        background-attachment: scroll !important;
        background-repeat: no-repeat;
    }

    .navbar {
        font-size: 1.2rem;
    }

    .navbar-nav > li {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .fas {
        font-size: 1.4rem !important;
    }

    .hero-text {
        font-size: 3rem;
        letter-spacing: .6rem;
        font-family: 'Nunito', serif;
        font-weight: 600 !important;
        color: white;
    }
    
    .hero-sub-text {
        font-size: 1.5rem;
        letter-spacing: .2rem;
        font-family: 'Nunito', serif;
        font-weight: 300 !important;
        color: white;
    }
    
    .about-title {
        font-size: 4rem !important;
        font-weight: 600 !important;
        font-family: 'Nunito', serif;
    }
    
    .about-text {
        font-size: 1.2rem !important;
        font-weight: 200 !important;
        font-family: 'Nunito', serif;
    }
    
    .portfolio-title {
        font-size: 4rem !important;
        font-weight: 600 !important;
        font-family: 'Nunito', serif;
    }
    
    .portfolio-text {
        font-size: 1.2rem !important;
        font-weight: 200 !important;
        font-family: 'Nunito', serif;
    }
    
    .project-title {
        font-size: 2.6rem !important;
        font-weight: 400 !important;
        font-family: 'Nunito', serif;
    }

    #app-store-badge {
        height: 3rem;
    }

    .subtitles {
        font-size: 1.4rem !important;
        font-family: 'Nunito', serif;
        font-weight: 400;
    }

    .contact-title {
        font-size: 4rem;
        font-weight: 600 !important;
        font-family: 'Nunito', serif;
    }

    .footer-text {
        font-size: .6rem !important;
        font-family: 'Nunito', serif;
        font-weight: 100 !important;
    }

    #wally-sc, #uni-proj-sc {
        height: 25%;
        width: 100%;
    }

    .biometric-disclaimer {
        font-size: .4rem;
    }

    #umbriel-logo{
        width: 75%;
        height: 75%;
    }

}